#carro:hover {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;

}

a{
    text-decoration: none;
    color: #fff;
}

#carro{
    font-size: 25px;
}

.numCarro{
    color: cyan;
}
