.navBar {
    font-family: sans-serif;
    background-color: #210831;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 15px;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.logo {
    max-height: 120px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #ffd700;
}